<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@700&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white; font-family: 'Encode Sans', sans-serif;">
            <img src="../../../assets/logo-argprograma.png" alt="Logo Argentina Programa" height="24">
            Argentina Programa
        </a>
      
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">
            Login
        </button>
        
    </div>

  </nav>
